@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&display=swap');
@import "tailwindcss";

body {
  @apply overflow-x-hidden;
  /* scroll-behavior: smooth; */
}

@theme {
  --font-sans: 'Oxygen', sans-serif;
  --font-mono: 'DM Mono', monospace;
  --font-serif: 'Montserrat', sans-serif;

  --color-auth: #C9CEBD;
  --color-auth-light: #4c956c;
  --color-login-btn: #12664F;
  --color-courrousel: #344e41;
  --color-light-green: #f3fbf4;
  --color-lime-green: #cef0d3;
  --color-gradient-1: #ffefc7;
  --color-gradient-2: #b1f1d3;
  --color-dark-greenish-blue: #123D36;
  --color-light_beige: #F2F1EA;
  --color-dark-green: #2C4B38;
  --color-pinkish-cream: #EAD8CB;
  --color-muted-taupe: #D6C4B8;
}



@utility boxShadow {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

@utility boxShadowGradient {
  box-shadow: rgba(177, 241, 211, 100) 0px 0.0625em 0.0625em, rgba(255, 239, 199, 100) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

@utility scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}


@utility glassmorphism {
  backdrop-filter: blur(0px) saturate(0%);
  -webkit-backdrop-filter: blur(0px) saturate(0%);
  background-color: rgba(18, 102, 79, 0.73);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

}